Florian.Fusseder.fuf31436.Softwareengineering.SS17.BookStore/src/wsdl/localhost_8080/bank-master/TransactionWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://web.service.jreichl.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web.service.jreichl.de/">

<xs:element name="TransactionFailedException" type="tns:TransactionFailedException"/>

<xs:element name="transfer" type="tns:transfer"/>

<xs:element name="transferResponse" type="tns:transferResponse"/>

<xs:complexType name="transfer">
<xs:sequence>
<xs:element name="amountInCent" type="xs:long"/>
<xs:element name="fromIBAN" type="xs:string" minOccurs="0"/>
<xs:element name="toIBAN" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransactionFailedException">
<xs:sequence>
<xs:element name="amountInCent" type="xs:long"/>
<xs:element name="fromIBAN" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="toIBAN" type="xs:string" minOccurs="0"/>
<xs:element name="transactionDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>