ServiceTester/src/wsdl/localhost_8080/Florian.Fusseder.fuf31436.Softwareengineering.SS17.BookStore/BookServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="searchBooks" type="tns:searchBooks"/>

<xs:element name="searchBooksResponse" type="tns:searchBooksResponse"/>

<xs:complexType name="searchBooks">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:abstractBook" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="abstractBook" abstract="true">
<xs:complexContent>
<xs:extension base="tns:randomIdEntity">
<xs:sequence>
<xs:element name="author" type="tns:author" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
<xs:element name="release" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="randomIdEntity">
<xs:complexContent>
<xs:extension base="tns:singleIdEntity">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="singleIdEntity" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="author">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="books" type="tns:abstractBook" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person" abstract="true">
<xs:complexContent>
<xs:extension base="tns:generatedIdEntity">
<xs:sequence>
<xs:element name="adress" type="tns:adress" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="generatedIdEntity">
<xs:complexContent>
<xs:extension base="tns:singleIdEntity">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="adress">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="postNumber" type="xs:int"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:abstractBook" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>